.bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 7vh;
  padding-bottom: 7vh;
}

.bg1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Logo {
  width: 40px;
}

.main-heading {
  font-family: 'Bree Serif';
  font-size: 56px;
}
.first-sub-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
